.main-container{
    display: flex;
    justify-content: center;
}

#linesContainer{
    display: flex;
    justify-content: center;
}

.barLine{
    max-width: 80px;
    min-width: 2px;
    margin-right: 2px;
    padding-top: 20px;
    text-align: center;
    background-color: rgba(66, 134, 244, 0.8);
}